<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPSUCOR</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <picture class="header__logo">
            <a class="header__img" href="../index.html">
                <img src="../img/logo.png" alt="Logo de la página">
            </a>
        </picture>
        <nav>
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__linkIndex" href="../index.html"><span class="iconify-inline" data-icon="material-symbols:home-work-outline-rounded"></span> INICIO</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./nosotros.html"><span class="iconify-inline" data-icon="material-symbols:group"></span> NOSOTROS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link menu__link--active" href="./productos.html"><span class="iconify-inline" data-icon="iconoir:spiral"></span> PRODUCTOS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./servicios.html"><span class="iconify-inline" data-icon="material-symbols:engineering-outline-sharp"></span> SERVICIOS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./contacto.html"><span class="iconify-inline" data-icon="material-symbols:mail-outline-rounded"></span> CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <h1 class="container__h1">Nuestros productos</h1>
        <section class="container__productos">
            <h2>Caños PEAD:</h2>
            <table class="productos__tabla">
                <tr>
                    <th>Ø Exterior (mm)</th>
                    <th>Espesor (mm)</th>
                    <th>Presión</th>
                    <th>Peso (kg/m)</th>
                </tr>
                <tr>
                    <td>50</td>
                    <td>2</td>
                    <td>PN4</td>
                    <td>0,287</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>2</td>
                    <td rowspan="4">PN6</td>
                    <td>0,239</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>2,4</td>
                    <td>0,374</td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>3</td>
                    <td>0,58</td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>3,6</td>
                    <td>0,83</td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>2</td>
                    <td rowspan="5">PN8</td>
                    <td>0,197</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>2,4</td>
                    <td>0,295</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>3</td>
                    <td>0,453</td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>3,8</td>
                    <td>0,721</td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>4,5</td>
                    <td>1,02</td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>2,4</td>
                    <td rowspan="5">PN10</td>
                    <td>0,232</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>4</td>
                    <td>0,356</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>3,7</td>
                    <td>0,549</td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>4,7</td>
                    <td>0,873</td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>5,6</td>
                    <td>1,251</td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>3</td>
                    <td rowspan="5">PN12,5</td>
                    <td>0,272</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>3,7</td>
                    <td>0,43</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>4,6</td>
                    <td>0,666</td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>5,8</td>
                    <td>1,05</td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>6,8</td>
                    <td>1,491</td>
                </tr>
            </table>
        </section>
    </main>
    <footer>
        <section class="footer__disclaimer">
            <p>IPSUCOR SAS, todos los derechos reservados.</p>
        </section>
        <section class="footer__socialNetworks">
            <p class="socialNetworks__text">Seguinos en nuestras redes:</p>
            <div class="socialNetworks__icons">
                <a href="https://www.instagram.com/ipsucor_riocuarto/ " target="_blank"><span class="iconify-inline" data-icon="akar-icons:instagram-fill"></span></a>
                <a href="https://www.facebook.com/IPSUCOR-SAS-110444494083433/ " target="_blank"><span class="iconify-inline" data-icon="akar-icons:facebook-fill"></span></a>
            </div>
        </section>
    </footer>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</body>
</html>