<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPSUCOR</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.png">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <picture class="header__logo">
            <a class="header__img" href="../index.html">
                <img src="../img/logo.png" alt="Logo de la página">
            </a>
        </picture>
        <nav>
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__linkIndex" href="../index.html"><span class="iconify-inline" data-icon="material-symbols:home-work-outline-rounded"></span> INICIO</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./nosotros.html"><span class="iconify-inline" data-icon="material-symbols:group"></span> NOSOTROS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./productos.html"><span class="iconify-inline" data-icon="iconoir:spiral"></span> PRODUCTOS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./servicios.html"><span class="iconify-inline" data-icon="material-symbols:engineering-outline-sharp"></span> SERVICIOS</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./contacto.html"><span class="iconify-inline" data-icon="material-symbols:mail-outline-rounded"></span> CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <section class="container__sentForm">
            <h2>Tu mensaje ha sido enviado con éxito</h2>
            <h3>Nos comunicaremos lo antes posible. Muchas gracias!</h3>
        </section>
    </main>
    <footer>
        <section class="footer__disclaimer">
            <p>IPSUCOR SAS, todos los derechos reservados.</p>
        </section>
        <section class="footer__socialNetworks">
            <p class="socialNetworks__text">Seguinos en nuestras redes:</p>
            <div class="socialNetworks__icons">
                <a href="https://www.instagram.com/ipsucor_riocuarto/ " target="_blank"><span class="iconify-inline" data-icon="akar-icons:instagram-fill"></span></a>
                <a href="https://www.facebook.com/IPSUCOR-SAS-110444494083433/ " target="_blank"><span class="iconify-inline" data-icon="akar-icons:facebook-fill"></span></a>
            </div>
        </section>
    </footer>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</body>
</html>